* {
  font-family: $regular_font;
}

body {
  background-color: hsl(180, 97%, 12%);
}

.to-do-list {
  text-align: center;
  margin-top: 100px;
}

.section-title {
  display: flex;
  justify-content: center;

  .title {
    padding: 10px;
    width: 60%;

    font-size: 4rem;
    /* margin-top: 100px; */
    color: white;
    background-color: rgba(139, 139, 139, 0.656);
    border-radius: 5px;
  }

}

.title-background-image {
  clip-path: polygon(0% 100%, 100% 80%, 100% 0%, 0% 20%);
  background-image: url('../../images/backgrounds/forest.jpg');
  /* opacity: 0.80; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-size: 1.5rem;
  color: hsla(0, 0%, 90%, 0.558);
  margin-top: 40px;
}

button {
  font-family: $regular_font;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.input-container, .edit-task-container {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

.input-container {
  margin-top: 50px;
}

.add-button {
  background-color: hsl(120, 100%, 35%);
  border-radius: 100px;
  /* margin-left: 10px; */
}

.add-button:hover {
  background-color: hsl(120, 100%, 25%);
}

.filter-select {
  position: relative;
}

.filter-select select {
  width: 285px;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  background-color: hsla(180, 97%, 25%, 0.3); /*посмотреть*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease; /*посмотреть*/
}

.filter-select select:hover {
  background-color: hsla(180, 100%, 39%, 0.45); /*посмотреть*/
}

.filter-select select option {
  background-color: white;
  color: black;
  font-size: 10px;
}

.delete-button {
  background-color: hsl(0, 84%, 45%);
}

.delete-button:hover {
  background-color: hsl(0, 84%, 35%);
}

.move-button {
  background-color: hsl(180, 97%, 12%);
}

.move-button:hover {
  background-color: hsla(180, 97%, 12%, 0.773);
}

.edit-button {
  background-color: transparent;
}

input[type="text"] {
  font-size: 1.7rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.703);
}

ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  width: 85%;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color:hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 3rem;
}

.my-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.my-checkbox:hover {
  border-color: hsl(0, 0%, 0%);
}

.my-checkbox:checked {
  border-color: hsl(0, 0%, 0%);
}

.my-checkbox:checked::before {
  content: '✔';
  color: black;
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 18px;
}

.completed-task .text {
  transition: color 0.3s ease;
  text-decoration: line-through rgba(0, 0, 0, 0.5);
  color: hsla(0, 0%, 0%, 0.237);
}

.text {
  flex: 1;
  word-break: break-word;
  max-width: 60%;
}

.delete-button, .move-button, .edit-button, .save-button, .cancel-button, #myInputEditTask{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
  line-height: 1.5rem;
}


